<ion-side-menus>
	<!-- Left menu -->
	<ion-side-menu side="left">
		<ion-content>
		<ion-list>
		  <a class="item item-icon-left" menu-close href="#/menu/aww">
			  <i class="icon ion-ios-paw"></i>
			    Aww
		  </a>
		  <a class="item item-icon-left" menu-close href="#/menu/gaming">
			  <i class="icon ion-ios-game-controller-b"></i>
			    Gaming
		  </a>
		  <a class="item item-icon-left" menu-close href="#/menu/funny">
			  <i class="icon ion-happy"></i>
			    Funny
		  </a>
		  <a class="item item-icon-left" menu-close href="#/menu/sports">
			  <i class="icon ion-ios-americanfootball"></i>
			    Sports
		  </a>
		</ion-list>
		</ion-content>
	</ion-side-menu>
	<ion-side-menu-content>
		<ion-nav-bar class="bar-positive">
            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
              </button>
            </ion-nav-buttons>
        </ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>
</ion-side-menus>