<ion-view view-title="{{infos.title}}">
	<ion-content>
		<ion-refresher
		    pulling-text="Pull to refresh..."
		    on-refresh="loadNewer()">
		</ion-refresher>
		<div class="list">
		    <div collection-repeat="item in items track by item.id" 
		    	class="item item-thumbnail-left" 
		    	ng-click="openNew(item.url)">
		    	<img ng-src="{{item.thumbnail}}"
		          ng-if="item.thumbnail.startsWith('http')"
		          alt="">
		    	<h2 class="story-title">{{item.title}}</h2>
		    	<p class="">
		    		<i class="icon ion-android-person dark"></i> {{item.author}}
		    	</p>
		    	<p>
		    		<i class="icon ion-clock dark"></i>
			    	<span am-time-ago="item.created_utc" am-preprocess="unix"></span>
				</p>
		    </div>
		</div>
		<ion-infinite-scroll
		    on-infinite="loadOlder()"
		    distance="1%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>