/* Ionic Base Customization */ 
.darrow1 { border-radius: 30px; border: none; width: 30px; height: 30px; background: url('../img/icon-darrow1.png') no-repeat center center / cover; }
.darrow1.active { background-image: url('../img/icon-darrow2.png'); }

.view-container .pane { background: url('../img/bg-shoes1.png') no-repeat right top / cover rgba(226,207,198,1); }
.col-55 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 55%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}
.col-45 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 46%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 46%;
    -ms-flex: 0 0 46%;
    flex: 0 0 46%;
    max-width: 46%;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { background-color: rgba(255,255,255,1); } 
.view-container .scroll-content { padding: 10px 5%; }

.menu .scroll-content,
.view-video .scroll-content,
.item-complex .item-content { padding: 0; }

.bar { height: 60px; padding: 1% 0; } 
.has-header { top: 70px; }

.menu .bar { height: 110px !important; }
.menu .has-header { top: 110px !important;
    background: -webkit-gradient(linear, left top, right top, color-stop(1%, $color01), color-stop(100%, $color02)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, $color01 1%, $color02 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to right, $color01 1%, $color02 100%); /* W3C */
 }

.view-signup.bar  { height: 80px !important; } 
.view-signup.bar .has-header { top: 90px !important; }
.view-signup .title { top: -5px !important; }
.view-signup .title-icon { top: 25px !important; }


.menu .bar-header { background: url('../img/bg-shoes2.png') no-repeat right top / cover; }
.menu .bar-header figure { border-radius: 100em; overflow: hidden; border: 2px solid $color01; }

.bar,
.pane { background: none; border: none; }

.bar .left-buttons .button { top: 0.4em; }
.pane .title-icon { width: 35px; height: 35px; position: absolute; right: 5%; top: 2em; }
.pane .title-icon img { max-width: 100%; }

.view-signup .title-icon { top: 7px !important; }

.nav-bar-title { float: right; }
.icon-title-right { width: 45px; height: 45px; }

.bar-header .title { color: $color04; letter-spacing: 0.25em; text-transform: uppercase; right: 8%; font-size: 0.8em; background: url('../img/bg-border1.png') no-repeat right bottom / 6em; padding-right: 0; }

.menu .bar-header { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; align-items: center; }
.menu .bar-header img { height: 6em; display: block; }
.menu .bar-header .title {max-width: 160px; height: auto; font-size: 1.5em; background: none; position: static; line-height: 75px; }

.logo { text-align: center; margin: 0 auto 8%; padding-top: 10%; }
.logo img { max-width: 70%; display: block; margin: 0 auto; }
.logo .title { max-width: 394px; font-weight: 300; display: block; font-size: 2.6vw; text-align: center; text-transform: uppercase; letter-spacing: 0.3em; color: $color05; }
.wrap-form { text-align: center }
.button.signup { font-weight: 700; width: 100%; margin: 0 auto; max-width: 14em; color: $color04; background-color: $color03; border: none; text-transform: uppercase; letter-spacing: 0.3em; }

.wrap-title { margin-bottom: 1.5em; }
.wrap-title,
.wrap-title .text { display: block; text-align: center; color: $color05; }

.tmodel1 { color: $color03; font-size: 1.1em; letter-spacing: 2px; font-weight: 600; text-transform: uppercase; border-bottom: 3px solid $color03; display: block; max-width: 150px; margin: 0 auto; }

.fmodel1 { max-width: 600px; margin: 0 auto; }
.fmodel1 .item-input { margin-bottom: 7%; border: none; box-shadow: 0px 5px 5px 0px rgba(103,87,65,0.1); }
.fmodel1 fieldset { border: none; position: relative; }
.fmodel1 .input-label { width: 10%; text-transform: uppercase; letter-spacing: 0.3em; }
.fmodel1 .input-label,
.fmodel1 .text,
.fmodel1 .select { font-size: 0.8em; color: $color05; }
.fmodel1 .select { border: none; letter-spacing: 0.3em; background-color: $color04; text-transform: uppercase; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.fmodel1 .thumbnail { margin-bottom: 1.5em; }
.fmodel1 .thumbnail,
.fmodel1 .thumbnail img { max-width: 100%; display: block; margin-left: auto; margin-right: auto; }
.fmodel1 .submit { font-weight: 700; margin: 0 auto; max-width: 14em; color: $color04; background-color: rgba(89,65,54,1); border: none; text-transform: uppercase; letter-spacing: 0.3em; }

.fmodel1 .select-label { position: relative; }
.fmodel1 .select-label:before { content: ""; position: absolute; height: 30px; width: 30px; display: block; right: 5px; background: url(../img/bg-circle1.png) no-repeat center center #FFF; }

.fmodel1 .file { border: 0.2em solid $color11; border-radius: 0.2em; display: block; height: 3em; margin: 0 auto; max-width: 359px; overflow: hidden; position: relative; width: 100%; }
.fmodel1 .file .input-label { display: block; left: 0; line-height: 2em; margin: 0 auto; position: absolute; right: 0; text-align: center; width: 100%; }
.fmodel1 .file input { display: block; height: 100%; opacity: 0; overflow: hidden; width: 100%; }

.signup.fmodel1 .button { background-color: $color10; }

.menu-list .item.item-complex { background: url('../img/ico-rightb-arrow1.png') no-repeat 240px center transparent; font-size: 1em; text-transform: uppercase; }
.menu-list .item-content,
.menu-list .item-content.activated { position: relative; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; align-items: center; -webkit-align-items: center; background: transparent; box-shadow: inset 0px 6px 7px -5px rgba(152,54,23,1); color: $color04; border-top: 0.1em solid rgba(249,107,50,1); border-bottom: 0.1em solid rgba(177,68,25,1); 
-ms-flex-line-pack: center; 
  -webkit-align-content: center; 
  align-content: center; }
.menu-list .item-content .text { padding-left: 50px; line-height: 50px; }
.menu-list .item-content img { height: 35px; margin-right: 1em; position: absolute; top: 50%; margin-top: -17px; bottom: 50%; }

.exercises-list .list,
.preferences-list .list { margin-top: 30%; }
.exercises-list .item * { color: $color04; }
.exercises-list .item { background-color: $easy; }
.exercises-list .item-complex { margin-bottom: 20px; }
.exercises-list .time { font-weight: 800; font-size: 1.4em; }
.exercises-list .wrap { padding: 0; }
.exercises-list .seevideo { align-items: center; -webkit-align-items: center; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; }
.exercises-list .seevideo i { font-size: 2em; margin-right: 10%; }
.exercises-list .seevideo .text { font-size: 0.5em; }

.preferences-logout { background: none; border: 1px solid #e5383c; color: #e5383c; text-transform: uppercase; }
.preferences-list { margin-top: 30%; }
.preferences-list,
.preferences-list .preferences-item { background: none; }
.preferences-list .preferences-item { box-shadow: inset 0px -1px 0px 0px #ae987d; border-bottom: 1px solid #fae4cb; }
.preferences-list .preferences-item:last-child { box-shadow: none; border-bottom: 0; }
.preferences-item .ion-android-radio-button-off { color: #8d775e; }
.preferences-item .ion-android-radio-button-on { color: #f26122; }

.bg-gradient .pane { background: -webkit-linear-gradient($color06 5%, $color07 10%, $color08 40%), url('../img/bg-women1.png') no-repeat center top / cover;
    background: -o-linear-gradient($color06 5%, $color07 10%, $color08 40%), url('../img/bg-women1.png') no-repeat center top / cover;
    background: linear-gradient($color06 5%, $color07 10%, $color08 40%), url('../img/bg-women1.png') no-repeat center top / cover;
}

.bg-gradient .pane.view-preferences {
    background-image: none;
    background-color: #d8bc9b;
}

.bar-custom .title { text-align: right; color: $color04; letter-spacing: 0.3em; text-transform: uppercase; }
.bar-custom button { padding-left: 21px !important; color: $color04 !important; }

ufit-video { background-color: rgba(0,0,0,1); width: 100%; height: 100%; position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
ufit-video video { width: 568px; height: 100%; max-width: 100%; position: absolute; bottom: 0; left: 0; right: 0; }

.video-modal { position: absolute; z-index: 9; width: 100%; height: 100%; background-color: rgba(0,0,0,0.3); }
.video-vote { width: 397px; margin: 20% auto 0; }
.video-vote-button { background: none; border: 5px solid $color06; color: #FFF; font-weight: bold; border-radius: 10em; line-height: 25px; text-align: center; font-size: 25px; width: 50px; height: 50px; padding: 0; float: left; display: block; margin: 0 14px; }
.video-vote-button.activated { color: #000; background-color: $color06; }
.video-vote-title { font-size: 4vw; color: #FFF; font-weight: bold; display: block; text-align: center; }

#controls { display: block; position: fixed; top: 0; right: 0; bottom: 0; left: 0; }
#controls #play-pause { position: absolute; top: 50%; left: 50%; margin-left: -40px; margin-top: -40px; }
#play-pause i { font-size: 80px; color: #FFF; }
#controls #play-pause.hidden { opacity: 0; transition: 2s; }

@import "lessons";