<ion-view>
    <ion-nav-bar class="bar-calm">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-drag" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-title>Stores</ion-nav-title>
    </ion-nav-bar>

	<ion-content>
		<ion-list class="list">
			<div class="item item-divider">
				<ion-item ng-repeat="store in allStores" class=card">
					<div class="item-image">
						<img ng-src="{{store.imagem}}" alt="">
					</div>
					<div class="row">
						<div class="col">
							<h2 class="title">{{ store.name }}</h2>
						</div>
						<div class="row">
							<div class="col">
								<ul class="list-atividades">
									<li><i class="icon ion-pricetag"></i></li>
									<li ng-repeat="activity in store.activities"><p>{{activity}}</p></li>
								</ul>
							</div>
							<div class="col">
								<ul class="list-atividades">
									<li><i class="icon ion-android-pin"></i></li>
									<li><p>Loja: {{store.local}}</p></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
